.App{
  text-align:center;
}
.nav{
  display: flex;
  background-color: blueviolet;
  
  justify-content: space-around;
}
.copy-header{
  color:blue;
}
.link{
  text-decoration: none;
  color: white;
}